In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np

In [2]:
input_file = '../data/sorted_filled_data_cancel.pkl'

In [3]:
df = pd.read_pickle(input_file)
df = df.drop(columns=df.columns[0])
df.head()

,userid,user_state,event_name,event_attributes,event_created_date,event_platform,device_manufacture,device_model,Subscription Premium Cancel
0,0006869712ec9841dc36234bce245203,MD,Add Payment Method Success,"{""Payment Method"":""Debit"",""Tokenized Pay"":""""}",2022-01-19 18:47:45,android,samsung,SM-A716U,0
1,0006869712ec9841dc36234bce245203,MD,Subscription Premium,"{""Start Date"":""2022-01-19"",""Renewal Date"":""202...",2022-01-19 18:48:01,android,samsung,SM-A716U,0
2,0006869712ec9841dc36234bce245203,MD,Account History Transaction Details,"{""Navigated From"":""Account History"",""Status"":""...",2022-01-19 18:48:08,android,samsung,SM-A716U,0
3,0006869712ec9841dc36234bce245203,MD,Account History Transaction Details,"{""Navigated From"":""Account History"",""Status"":""...",2022-01-19 18:48:44,android,samsung,SM-A716U,0
4,0006869712ec9841dc36234bce245203,MD,Add Vehicle Success,"{""Make"":""Chevrolet"",""Model"":""Express 3500"",""Co...",2022-01-19 18:50:34,android,samsung,SM-A716U,0

In [4]:
import json

df['event_attributes'] = df['event_attributes'].apply(json.loads)

event_attributes = df['event_attributes'].to_list()
event_attributes_df = pd.DataFrame(event_attributes)

enriched_df = df.join(event_attributes_df)
enriched_df = enriched_df.drop(columns='event_attributes')

enriched_df.head()

,userid,user_state,event_name,event_created_date,event_platform,device_manufacture,device_model,Subscription Premium Cancel,Payment Method,Tokenized Pay,...,Error Code,Error Message,Screen,Transaction type,Id,Amount,Description,Google Map Installed,Selected Route Type,Transaction Type
0,0006869712ec9841dc36234bce245203,MD,Add Payment Method Success,2022-01-19 18:47:45,android,samsung,SM-A716U,0,Debit,,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,0006869712ec9841dc36234bce245203,MD,Subscription Premium,2022-01-19 18:48:01,android,samsung,SM-A716U,0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,0006869712ec9841dc36234bce245203,MD,Account History Transaction Details,2022-01-19 18:48:08,android,samsung,SM-A716U,0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,0006869712ec9841dc36234bce245203,MD,Account History Transaction Details,2022-01-19 18:48:44,android,samsung,SM-A716U,0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,0006869712ec9841dc36234bce245203,MD,Add Vehicle Success,2022-01-19 18:50:34,android,samsung,SM-A716U,0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
enriched_df['Promo code'].unique()

array([nan, '', 'GRIDWISE', 'TST2022', 'LUCKYDAY', 'INFLUENCER2021',
       'VEHICLEVIRGINS'], dtype=object)

In [11]:
enriched_df['Promo code used'] = enriched_df.apply(lambda row: row['Promo code'] in ['GRIDWISE', 'TST2022', 'LUCKYDAY', 'INFLUENCER2021', 'VEHICLEVIRGINS'], axis=1)

In [17]:
enriched_df.loc[enriched_df['Promo code used']]

,userid,user_state,event_name,event_created_date,event_platform,device_manufacture,device_model,Subscription Premium Cancel,Payment Method,Tokenized Pay,...,Error Message,Screen,Transaction type,Id,Amount,Description,Google Map Installed,Selected Route Type,Transaction Type,Promo code used
140,06a9a92ef0a123b93e3410d8a57d5b6c,IN,Add Payment Method Success,2022-03-24 18:01:33,android,motorola,moto g stylus,0,Debit,,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True
1203,13d8a03074dd4502c5acb82fc65e2b33,CA,Add Payment Method Success,2022-02-23 17:50:31,android,Google,Pixel 5,1,PayPal,,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True
2164,21e28f6337ff700d41ee87a1b244ca78,FL,Add Payment Method Success,2022-03-30 14:08:40,ios,Apple,"iPhone14,4",0,Credit,Apple Pay,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True
3549,3ddccd890467c76dd9886a40dbd51800,NH,Add Payment Method Success,2022-02-25 00:13:40,ios,Apple,"iPhone12,1",0,Debit,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True
3926,4383288d6bab753c11fc2f4ea43b1eb8,CA,Add Payment Method Success,2022-03-18 19:51:54,ios,Apple,"iPhone14,3",0,Debit,Apple Pay,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True
4291,494d52061c082cec80e62b80d0042d72,CA,Add Payment Method Success,2022-03-04 22:32:57,ios,Apple,"iPhone14,3",0,PayPal,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True
4292,494d52061c082cec80e62b80d0042d72,CA,Add Payment Method Success,2022-03-04 22:33:41,ios,Apple,"iPhone14,3",0,Venmo,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True
4293,494d52061c082cec80e62b80d0042d72,CA,Add Payment Method Success,2022-03-04 22:35:17,ios,Apple,"iPhone14,3",0,Debit,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True
6240,67e44c02222349a4e5aff1233d06b8ce,NJ,Add Payment Method Success,2022-04-06 12:13:39,ios,Apple,"iPhone12,1",0,Debit,Apple Pay,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True
6258,67e44c02222349a4e5aff1233d06b8ce,NJ,Add Payment Method Success,2022-04-15 19:06:20,ios,Apple,"iPhone12,1",0,Debit,Apple Pay,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True
6260,67e44c02222349a4e5aff1233d06b8ce,NJ,Add Payment Method Success,2022-04-16 01:41:36,ios,Apple,"iPhone12,1",0,Debit,Apple Pay,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True
10069,a278d265aed003fd5b195de3ae6140f4,TX,Add Payment Method Success,2022-03-15 16:05:38,ios,Apple,"iPhone13,4",1,Credit,Apple Pay,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True
14665,fd4a11b9abba7352308fabf80c122501,CA,Add Payment Method Success,2022-03-30 00:15:59,ios,Apple,"iPhone12,5",0,Credit,Apple Pay,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True

In [18]:
enriched_df.to_pickle('../data/promo_code_used.pkl')